{% extends 'base.html.twig' %}

{% block title %}Recipes{% endblock %}

{% block body %}
    <h1 class="text-4xl">Recipes</h1>
    <ul class="list-disc pl-5 text-xl">
                <li class="text-emerald-500 py-1 my-1">No recipes found.</li>
                <li> tarte au thon - une tarte au thon</li>
    </ul>
{% endblock %}
