{% extends 'base.html.twig' %}

{% block title %}{{slug}}-{{id}}{% endblock %}

{% block body %}
    <h1 class="text-4xl">{{ recipe.title }}</h1>
    <ul class="list-disc pl-5 text-xl">
                <li> {{ recipe.content }}</li>
    </ul>
{% endblock %}
